.transactionHistory {
    border: 1px solid #000;
    border-collapse: collapse;
    width: 500px;
    margin: 20px;
    text-align: center;
}
thead {
    background-color: rgb(39, 38, 38);
    color: aliceblue;
}

tr {
    height: 30px;
    border: 1px solid #423e3e;
}

tr:nth-child(even) {
    background-color: #b9b4b8;
  }

